<%- form_for user, :remote => true, :html => { :id => "new_user" } do |f| %>
  <div class="fields">
    <%= user.errors.to_yaml %><br />
    <label for="user_name">Name</label>
    <%= f.text_field :name %><br />
    <label for="user_surname">Surname</label>
    <%= f.text_field :surname %><br />
    <label for="user_email">E-mail</label>
    <%= f.text_field :email %><br />
  </div>
  <div class="buttons">
    <%= f.submit "Create it!" %>
  </div>
<%- end %>
